bin/
dist/
.DS_Store
.scannerwork/
node_modules/
js/
package-lock.json
lib/
legal/
include/
conf/
build/
release
TMXValidator-darwin-x64/
TMXValidator-win32-x64/
TMXValidator-darwin-arm64/
.vscode/
.github/
.gradle/